<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bharatavars"
        tools:targetApi="31">
        <activity
            android:name=".EManuActivity"
            android:exported="false" />
        <activity
            android:name=".GUManuActivity"
            android:exported="false" />
        <activity
            android:name=".GuYogiActivity"
            android:exported="false" />
        <activity
            android:name=".GuGodActivity"
            android:exported="false" />
        <activity
            android:name=".GuBookActivity"
            android:exported="false" />
        <activity
            android:name=".GuStatueActivity"
            android:exported="false" />
        <activity
            android:name=".GuCaveActivity"
            android:exported="false" />
        <activity
            android:name=".GuRiverActivity"
            android:exported="false" />
        <activity
            android:name=".GuTempleActivity"
            android:exported="false" />
        <activity
            android:name=".GuMainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".LanguageActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".EBookActivity"
            android:exported="false" />
        <activity
            android:name=".EFreedomActivity"
            android:exported="false" />
        <activity
            android:name=".EYogiActivity"
            android:exported="false" />
        <activity
            android:name=".EGodActivity"
            android:exported="false" />
        <activity
            android:name=".EStatueActivity"
            android:exported="false" />
        <activity
            android:name=".ECaveActivity"
            android:exported="false" />
        <activity
            android:name=".ERiverActivity"
            android:exported="false" />
        <activity
            android:name=".ETempleActivity"
            android:exported="false" />
        <activity
            android:name=".EMainActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>